<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "General Game Notes" %><br />
    <%= f.text_area :notes %>
  </p>

    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @game %> |
<%= link_to 'Back', games_path %>
