<h1>Listing games</h1>

<table>
  <tr>
    <th><%= order(@search, :by => "game_id", :as => "Game ID") %></th>
    <th><%= order(@search, :by => "game_type") %></th>
    <th><%= order(@search, :by => "played_at") %></th>
    <th>Our Team</th>
    <th>Their Team</th>
    <th><%= order(@search, :by => "win", :as => "Result") %></th>
    <th>Bans</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.game_id %></td>
    <td><%=h game.game_type %></td>
    <td><%=h game.played_at %></td>
    <td><%=h link_to game.our_players.collect(&:name).join(", "), edit_game_path(game) %></td>
    <td><%=h game.their_players.collect(&:name).join(", ") %></td>
    <td><%=h game.win ? "win" : "loss" %></td>
    <td><%=h game.bans.collect(&:name).join(", ") %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>
