<h1>New game_ban</h1>

<% form_for(@game_ban) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :champion_id %><br />
    <%= f.text_field :champion_id %>
  </p>
  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', game_bans_path %>